.mainchat
  .mainchat__info
    .mainchat__info__left
      .mainchat__info__left__groupname
        %p グループ１ 
      .mainchat__info__left__membercount
        %p 3
    .mainchat__info__right
      %p EDIT

  
  .mainchat__members
    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

    .mainchat__members__member
      .mainchat__members__member__image
      .mainchat__members__member__name
        %p 山下雄平

  .mainchat__messagelist
    .mainchat__messagelist__message
      .mainchat__messagelist__message__info         
        .mainchat__messagelist__message__info__user            
          %p 山下雄平
        .mainchat__messagelist__message__info__time
          %p 2020/7/14(thu) 15:02:00
      .mainchat__messagelist__message__content
        %p おはよう！
    
    .form
      %textarea{placeholder:"テキストを入力してください"}
      .form__bottom
        %label{class: "form__bottom__image"}
          = icon('fas', 'image')
          %input{type: "file"}
        %input{type:"submit",value:"SEND"}
        
     
